.OtherPart {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
   gap: 1rem;
   margin-top: 1rem;
   height: calc(100vh - 9.4rem);

   .HeaderControl {
      display: flex;
      justify-content: space-between;
      background: var(--primary-color);
      padding: 5px;
      color: var(--color-2);
   }

   .Control {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .ControlPoint {
         height: 50%;
         background: var(--color-2);
         box-shadow: 5px 5px 5px #0000004d;
      }

      .DefineSession {
         height: 50%;
         background: var(--color-2);
         box-shadow: 5px 5px 5px #0000004d;
      }

      table {
         background: var(--color-3);
         width: 100%;

         td {
            padding: 8px;
            text-align: center;
         }

         thead {
            font-weight: 600;
         }

         tbody {
            tr {
               border-top: 1px solid var(--shadow-color);
               border-bottom: 1px solid var(--shadow-color);

               &:hover {
                  background: var(--color-2);

                  td {
                     color: var(--color-6);

                     &:last-child {
                        color: var(--color-2);
                        border: 1px solid var(--color-2);
                     }
                  }
               }

               td {
                  text-align: center;
                  // padding: 5px;
               }

               .TdLink {
                  color: var(--color-1);
                  background: var(--primary-color);
                  border-color: var(--primary-color);
                  cursor: pointer;

                  &:hover {
                     background: var(--btn-color-hover);

                     i {
                        color: var(--color-1);
                     }
                  }
               }

               a {
                  width: 100px;
               }

               .ELink {
                  cursor: pointer;
                  text-decoration: none;

                  &:hover {
                     padding: 3px 20px;

                     i {
                        color: var(--color-1);
                     }
                  }
               }
            }
         }

      }
   }

   .ResultControl {
      background: var(--color-2);
      box-shadow: 5px 5px 5px #0000004d;
      overflow: hidden;

      .viewScanner {
         display: flex;
         flex-direction: column;
         height: 100%;

         .InfoRule {
            display: flex;
            min-height: 40%;
            border: 1px solid var(--shadow-color);
            border-style: dashed;
            margin: 0 5px;
            margin-top: 5px;
            padding: 5px;
            background: var(--color-1);
      
            .Left {
               display: flex;
               align-items: center;
               margin-top: 10px;
               border-right: 1px solid var(--color-2);
               width: 40%;
            }

            .Right {
               width: 60%;
               padding: 30px;
               display: flex;
               justify-content: center;
               align-items: center;
               border: 1px solid var(--color-2);
               overflow: hidden;

               img {
                  display: flex;
                  width: 50%;
               }
               span {
                  font-size: 15px;
                  border: 1px solid var(--color-2);
                  padding: 7px;
               }

               .Elem {
                  display: flex;
                  flex-direction: column;
                  gap: 7px;
                  width: 100%;

                  span {
                     border-right: none;
                  }
               }

               .Result {
                  display: flex;
                  flex-direction: column;
                  text-align: end;
                  gap: 7px;
                  width: 100%;
                  span {
                     border-left: none;
                  }
               }
            }
         }

         .InfoForAll {
            display: flex;
            align-items: center;
            border: 1px solid var(--shadow-color);
            border-style: dashed;
            padding: 5px;
            margin: 5px;
            min-height: 52%;
            background: var(--color-1);
            overflow-y: scroll;

            span {
               font-size: 18px;
               border: 1px solid var(--color-2);
               padding: 7px;
            }

            .Left {
               display: flex;
               flex-direction: column;
               gap: 7px;
               width: 100%;

               span {
                  border-right: none;
               }
            }

            .Right {
               display: flex;
               flex-direction: column;
               text-align: end;
               gap: 7px;
               width: 100%;

               span {
                  border-left: none;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1000px) {
   .OtherPart {
      grid-template-columns: repeat(1, 1fr);

      .viewScanner {
         overflow-y: scroll;
         .InfoRule {
            min-height: 100% !important;
         }

         .InfoForAll {
            min-height: 100% !important;
         }
      }
   }
}